<mat-card>
  <mat-card-header>
    <mat-card-title>{{ character.name }}</mat-card-title>
  </mat-card-header>

  <img mat-card-image
      [src]="character | imagen" alt="{{ character.urlImage }}">

  <mat-card-content>
    <h3>{{ character.name }}</h3>
    <p>

    </p>
  </mat-card-content>

  <mat-card-actions>
    <!-- <button mat-button color="warn" [routerLink]="">
      Leer más...
    </button>
    <button mat-button color="info" [routerLink]="">
      Editar
    </button> -->
  </mat-card-actions>
</mat-card>
